/* search blog from  */
.main-content-intro {
  padding: 1rem;
  text-align: center;
  margin-bottom: 3rem;
}
.search-input {
  padding: 0.5rem;
  background-color: var(--cool-gray-200);
  border: solid var(--cool-gray-800) 1px;
  margin: 0 auto 0.5rem;
  width: 100%;
}
.search-form {
  width: 90%;
  margin: 0 auto;
}
.btn--search {
  margin: 0 auto;
  display: block;
}
.focal-1 {
  font-size: 2.5rem;
}
.center {
  text-align: center;
}
.form__label--inline {
  display: inline-block;
  margin: 0;
}
.form--article {
  width: min(95%, 800px);
}
.checkbox {
  display: inline-block;
  margin-right: 0.5rem;
  cursor: pointer;
}
.bottom-spacing {
  margin-bottom: 2rem;
}
.signin {
  margin-top: 3rem;
}
/* .alert {
  margin: 0 auto 2rem;
  width: min(95%, var(--fixed-with));
  padding: 0.5rem;
  text-align: center;
} */
.alert--success {
  background-color: var(--green-300);
  color: var(--green-900);
}
.alert--error {
  background-color: var(--red-300);
  color: var(--red-700);
}
.alert--warning {
  background-color: var(--amber-400);
  color: var(--amber-800);
}
.comment-form {
  background-color: var(--cool-gray-100);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin-bottom: 3rem;
}
.comment-form textarea {
  width: min(100%,600px);
  height: 200px;
}
.comment h5 {
  margin-bottom: 1rem;
}
.comment {
  margin-bottom: 1rem;
  border-bottom: solid var(--cool-gray-200) 2px;
}
.upload {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.upload input {
  align-self: flex-start;
}
@media all and (min-width: 1200px) {
  .main-content-intro {
    padding: 220px 0;
    background-image: url("../images/homepage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .focal-1 {
    color: var(--white);
    font-size: 4rem;
  }
  .focal-1 span {
    color: var(--teal-600);
  }
  .search-form {
    display: grid;
    grid-template-columns: 5fr 1fr;
    width: min(50%, var(--max-with));
    margin: 0 auto;
  }
  .search-input {
    margin: 0;
    display: block;
    width: 100%;
    border-right: none;
  }
  .btn--search {
    margin: 0;
    width: 100%;
  }
}
