/* search blog from  */
.main-content-intro {
  padding: 1rem;
  text-align: center;
  margin-bottom: 3rem;
}
.search-input {
  padding: 0.5rem;
  background-color: var(--cool-gray-200);
  border: solid var(--cool-gray-800) 1px;
  margin-bottom: 0.5rem;
  width: min(90%, 400px);
}
.btn--search {
  margin: 0 auto;
  display: block;
}
.focal-1 {
  font-size: 2.5rem;
}
.center {
  text-align: center;
}
.form__label--inline {
  display: inline-block;
  margin: 0;
}
.checkbox {
  display: inline-block;
  margin-right: 0.5rem;
  cursor: pointer;
}
.bottom-spacing {
  margin-bottom: 2rem;
}
.signin {
  margin-top: 3rem;
}
@media all and (min-width: 1200px) {
  .main-content-intro {
    padding: 220px 0;
    background-image: url("../images/homepage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .focal-1 {
    color: var(--white);
    font-size: 4rem;
  }
  .focal-1 span {
    color: var(--teal-600);
  }
  .search-form {
    display: grid;
    grid-template-columns: 5fr 1fr;
    width: min(50%, var(--max-with));
    margin: 0 auto;
  }
  .search-input {
    margin: 0;
    display: block;
    width: 100%;
    border-right: none;
  }
  .btn--search {
    margin: 0;
    width: 100%;
  }
}
